.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 1000; }
  .nav .navUl {
    box-shadow: 1px 1px 2px 2px lightgray; }
    .nav .navUl .navIcon {
      display: inline-block;
      font-size: 14px;
      padding: 18px; }
    .nav .navUl .navLi1 {
      display: inline-block;
      font-size: 14px;
      padding: 18px;
      float: right; }
      .nav .navUl .navLi1:hover {
        background-color: #e6e6e6;
        cursor: pointer;
        transition-duration: .5s; }
    .nav .navUl .navLi2 {
      display: inline-block;
      font-size: 14px;
      padding: 18px 20px;
      float: right; }
      .nav .navUl .navLi2:hover {
        background-color: #e6e6e6;
        cursor: pointer;
        transition-duration: .5s; }
    .nav .navUl .navLi3 {
      display: inline-block;
      font-size: 14px;
      padding: 18px 24px;
      background-color: #fcbb48;
      color: white;
      float: right; }
      .nav .navUl .navLi3:hover {
        background-color: #ffcd44;
        cursor: pointer;
        transition-duration: .5s; }
    .nav .navUl .navLi4 {
      float: right;
      display: inline-block;
      padding: 16px;
      padding-left: 20px;
      margin-right: 4px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.landingPageMain {
  height: 90vh;
  min-height: 600px;
  background-image: url(../images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .landingPageMain .banner {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 22%; }
    .landingPageMain .banner .bannerTitle {
      color: white;
      font-size: 30px;
      letter-spacing: .3px;
      margin-bottom: 15px; }
    .landingPageMain .banner .bannerSubtitle {
      color: white;
      font-size: 18px;
      letter-spacing: .3px;
      margin-bottom: 25px; }
    .landingPageMain .banner .bannerSearch {
      height: 70px;
      width: 100%;
      background-color: white;
      border-radius: 5px;
      position: relative; }
      .landingPageMain .banner .bannerSearch .bannerSearchInputIcon {
        color: #bbbbbb;
        position: absolute;
        top: 27px;
        left: 4.7%; }
      .landingPageMain .banner .bannerSearch .bannerSearchInput {
        border: 1px solid #bbbbbb;
        width: 70%;
        padding: 5px;
        padding-left: 27px;
        margin-left: calc(10% - 40px);
        margin-top: 20px;
        border-radius: 5px; }
      .landingPageMain .banner .bannerSearch .bannerSearchBtn {
        width: 100px;
        height: 35px;
        color: white;
        background-color: #134099;
        border: 1px solid white;
        border-radius: 5px; }
        .landingPageMain .banner .bannerSearch .bannerSearchBtn:hover {
          cursor: pointer;
          background-color: #3636c7;
          transition-duration: .5s; }

.landingPage2nd {
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 80px;
  letter-spacing: .5px; }
  .landingPage2nd .landingPage2ndTitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px; }
  .landingPage2nd .landingPage2ndContent {
    overflow-x: scroll;
    height: 350px;
    white-space: nowrap; }
    .landingPage2nd .landingPage2ndContent .landingPage2ndContentCard {
      width: 300px;
      height: 320px;
      display: inline-block;
      margin: 10px;
      position: relative; }
      .landingPage2nd .landingPage2ndContent .landingPage2ndContentCard img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .landingPage2nd .landingPage2ndContent .landingPage2ndContentCard .landingPage2ndContentCardMask {
        width: 300px;
        height: 130px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        white-space: normal;
        padding: 20px 15px;
        color: white;
        box-sizing: border-box; }
        .landingPage2nd .landingPage2ndContent .landingPage2ndContentCard .landingPage2ndContentCardMask .landingPage2ndContentCardText {
          font-size: 14px;
          line-height: 15px;
          width: 270px;
          height: 45px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical; }
        .landingPage2nd .landingPage2ndContent .landingPage2ndContentCard .landingPage2ndContentCardMask .landingPage2ndContentCardBtn {
          width: 100px;
          height: 35px;
          color: white;
          background-color: #134099;
          border: 1px solid #134099;
          border-radius: 5px;
          margin-top: 20px; }
          .landingPage2nd .landingPage2ndContent .landingPage2ndContentCard .landingPage2ndContentCardMask .landingPage2ndContentCardBtn:hover {
            cursor: pointer;
            background-color: #3636c7;
            transition-duration: .5s; }

.landingPage3rd {
  height: 700px;
  background-image: url(../images/landingPage3rd.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%; }
  .landingPage3rd .landingPage3rdContent {
    width: 65%;
    height: 100%;
    background-color: #103784;
    color: white;
    padding: 100px;
    box-sizing: border-box; }
  .landingPage3rd .landingPage3rdTitle {
    font-size: 35px;
    margin-bottom: 80px;
    letter-spacing: .5px;
    line-height: 40px; }
  .landingPage3rd .landingPage3rdSubtitle {
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: .5px;
    line-height: 25px; }
  .landingPage3rd .landingPage3rdText {
    font-size: 16px;
    margin-bottom: 35px;
    letter-spacing: .5px;
    line-height: 25px;
    color: #d1d1d1; }

.landingPage4th {
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #f0f0f0;
  letter-spacing: .5px; }
  .landingPage4th .landingPage4thTitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px; }
  .landingPage4th .landingPage4thContent {
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center; }
    .landingPage4th .landingPage4thContent .landingPage4thContentCard {
      border: 1px solid #dfdfdf;
      border-radius: 10px;
      width: 180px;
      height: 180px;
      display: inline-block;
      margin: 5px;
      box-sizing: border-box;
      padding: 40px; }
      .landingPage4th .landingPage4thContent .landingPage4thContentCard:hover {
        cursor: pointer;
        background-color: #dfdfdf;
        transition-duration: .5s; }
      .landingPage4th .landingPage4thContent .landingPage4thContentCard .landingPage4thContentCardImg {
        width: 60px;
        margin-bottom: 20px; }
      .landingPage4th .landingPage4thContent .landingPage4thContentCard .landingPage4thContentCardText {
        text-align: center; }

.landingPage5th {
  width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 80px;
  letter-spacing: .5px; }
  .landingPage5th .landingPage5thTitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 500; }
  .landingPage5th .landingPage5thContent .landingPage5thContentCard {
    width: 372px;
    height: 260px;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 3px lightgray; }
    .landingPage5th .landingPage5thContent .landingPage5thContentCard .landingPage5thContentCardImg {
      height: 40px;
      margin-bottom: 20px; }
    .landingPage5th .landingPage5thContent .landingPage5thContentCard .landingPage5thContentCardTitle {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: .5px;
      line-height: 25px;
      margin-bottom: 50px; }
    .landingPage5th .landingPage5thContent .landingPage5thContentCard .landingPage5thContentCardText {
      font-size: 16px;
      color: #8b8b8b;
      letter-spacing: .5px;
      line-height: 20px; }
  .landingPage5th .landingPage5thBtn {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    height: 40px;
    width: 150px;
    background-color: #fcbb48;
    color: white;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    box-sizing: border-box; }
    .landingPage5th .landingPage5thBtn:hover {
      background-color: #ffcd44;
      cursor: pointer;
      transition-duration: .5s; }

footer {
  background-color: black;
  color: #bebebe;
  text-align: center; }
  footer .footerUl {
    display: inline-block;
    white-space: nowrap; }
    footer .footerUl .footerLi {
      display: inline-block;
      width: 160px;
      height: 300px;
      margin: 20px;
      margin-top: 100px; }
      footer .footerUl .footerLi .footerLiTitle {
        margin-bottom: 30px; }
      footer .footerUl .footerLi .footerLiText {
        margin-bottom: 15px;
        font-size: 14px;
        color: #8b8b8b; }
        footer .footerUl .footerLi .footerLiText:hover {
          cursor: pointer;
          text-decoration: underline; }
  footer .footerUl2 {
    padding-bottom: 50px; }
    footer .footerUl2 .footerUl2Li {
      display: inline-block;
      font-size: 14px;
      color: #8b8b8b;
      margin: 10px; }
      footer .footerUl2 .footerUl2Li:hover {
        cursor: pointer;
        text-decoration: underline; }

* {
  font-family: Microsoft JhengHei; }
