.dashboard{
    // border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    .dashboardLeft{
        position: sticky;
        top: 80px;
        left: 0;
        // border: 1px solid rgb(200, 200, 200);
        width: 300px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 50px;
        .dashboardLeftTop{
            border: 1px solid rgb(200, 200, 200);
            width: 100%;
            .dashboardPhoto{
                border: 1px solid rgb(200, 200, 200);
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                margin-top: 20px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .dashboardLeftTopTitle{
                font-size: 14px;
                text-align: center;
                margin-top: 15px;
            }
            .dashboardLeftTopName{
                font-weight: 600;
                font-size: 18px;
                text-align: center;
                margin-top: 15px;
            }
            .dashboardLeftTopStatus{
                margin-bottom: 20px;
                text-align: center;
                .dashboardLeftTopStars{
                    margin-top: 15px;
                    width: 100px;
                }
                .dashboardLeftTopCounts{
                    display: inline-block;
                    margin-left: 5px;
                }
            }            
        }
        .dashboardLeftBot{
            border: 1px solid rgb(200, 200, 200);
            width: 100%;
            margin-top: 30px;
            text-align: center;
            .dashboardLeftBotTitle{
                margin-top: 20px;
                // border: 1px solid red;
                display: inline-block;
                text-align: initial;
                .dashboardLeftBotTitleText{
                    color: gray;
                    margin-bottom: 15px;
                }
            }
            .dashboardLeftBotContent{
                margin-top: 20px;
                // border: 1px solid red;
                display: inline-block;
                text-align: initial;
                margin-left: 30px;
                .dashboardLeftBotContentText{
                    margin-bottom: 15px;
                }
            }
            hr{
                width: 90%;
            }
            .dashboardLeftBotSelfIntro{
                // border: 1px solid red;
                font-size: 14px;
                letter-spacing: .5px;
                line-height: 18px;
                width: 255px;
                margin: 0 auto;
                margin-top: 20px;
                text-align: initial;
            }
            .dashboardLeftBotProvide{
                // border: 1px solid red;
                text-align: initial;
                width: 255px;
                margin: 0 auto;
                margin-top: 30px;
                .dashboardLeftBotProvideTitle{
                    color: gray;
                    margin-bottom: 15px;
                }
                .dashboardLeftBotProvideContent{
                    margin-bottom: 30px;
                    ul{
                        li{
                            font-size: 14px;
                            margin-bottom: 5px;
                            letter-spacing: .5px;
                        }
                    }
                }
            }
        }
    } 
    .dashboardRight{
        // border: 1px solid red;
        width: 870px;
        // height: 1500px;
        margin-left: 15px;
        display: inline-block;
        margin-bottom: 50px;
        .dashboardRightTop{
            border: 1px solid rgb(200,200,200);
            .dashboardRightTopTabButton{
                // border: 1px solid red;
                width: 150px;
                display: inline-block;
                vertical-align: auto;
                padding: 50px 30px;
                box-sizing: border-box;
                .tablinks{
                    width: 80px;
                    height: 35px;
                    color: rgb(19, 64, 153);
                    background-color: white;
                    border: 1px solid rgb(19, 64, 153);
                    margin: 10px 0;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(238, 238, 238);
                    }
                }
                .active {
                    color: white;
                    background-color: rgb(19, 64, 153);
                    border: 1px solid rgb(19, 64, 153);
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(54, 54, 199);
                    }
                }
            }
            .dashboardRightTopTabContent{
                // border: 1px solid blue;
                width: 700px;
                display: inline-block;
                vertical-align: top;
                .tabcontent{
                    // border: 1px solid blue;
                    animation: fadeEffect .5s;
                    @keyframes fadeEffect {
                        from {opacity: 0;}
                        to {opacity: 1;}
                    }
                    .dashboardRightTopTabContent1Part1, .dashboardRightTopTabContent1Part2, .dashboardRightTopTabContent1Part3{
                        margin-bottom: 20px;
                        .dashboardRightTopTabContent1Part1Left{
                            // border: 1px solid blue;
                            width: 500px;
                            height: 90px;
                            display: inline-block;
                            margin-top: 20px;
                            .dashboardRightTopTabContent1Part1LeftTitle{
                                font-weight: 600;
                                font-size: 18px;
                                letter-spacing: .5px;
                                margin-bottom: 10px;
                            }
                            .pin{
                                font-size: 14px;
                                color: gray;
                                display: inline-block;
                            }
                            .myProgress{
                                position: relative;
                                width: 90%;
                                height: 20px;
                                background-color: rgb(224, 224, 224);
                                box-sizing: border-box;
                                margin-top: 5px;
                                margin-bottom: 5px;
                                .myBar{
                                    position: absolute;
                                    height: 100%;
                                    // background-color: rgb(145, 70, 207);
                                }
                            }
                        }
                        .dashboardRightTopTabContent1Part1Btn{
                            // border: 1px solid green;
                            display: inline-block;
                            height: 90px;
                            vertical-align: top;
                            margin-top: 20px;
                            text-align: center;
                            .dashboardRightTopTabContent1Part1BtnPrice{
                                font-size: 14px;
                                color: gray;
                                margin-top: 15px;
                                margin-bottom: 15px;
                            }
                            .dashboardRightTopTabContent1Part1BtnContact{
                                width: 80px;
                                height: 33px;
                                color: white;
                                background-color: rgb(19, 64, 153);
                                border: 1px solid rgb(19, 64, 153);
                                border-radius: 5px;
                                &:hover{
                                    cursor: pointer;
                                    background-color: rgb(54, 54, 199);
                                    transition-duration: .5s;
                                }
                            }
                            .dashboardRightTopTabContent1Part1BtnPay{
                                width: 80px;
                                height: 33px;
                                color: rgb(19, 64, 153);
                                background-color: white;
                                border: 1px solid rgb(19, 64, 153);
                                border-radius: 5px;
                                &:hover{
                                    cursor: pointer;
                                    background-color: rgb(238, 238, 238);
                                    transition-duration: .5s;
                                }
                            }
                        }
                    }                   
                }
            }
        }
        .dashboardRightBot{
            border: 1px solid rgb(200,200,200);
            margin-top: 30px;
            .dashboardRightBotLeft{
                // border: 1px solid blue;
                width: 300px;
                display: inline-block;
                margin-top: 20px;
                img{
                    width: 100px;
                    margin-left: 30px;
                }
                .dashboardRightBotLeftComment{
                    display: inline-block;
                    font-size: 14px;
                    margin-left: 5px;
                    transform: translateY(-2px);
                }
                .myProgress{
                    margin: 0 auto;
                    margin-top: 10px;
                    position: relative;
                    width: 80%;
                    height: 20px;
                    background-color: rgb(224, 224, 224);
                    box-sizing: border-box;
                    &:hover .myBar{
                        background-color: rgb(255,205,68);
                    }
                    .myBar{
                        position: absolute;
                        height: 100%;
                        background-color: rgb(252,187,72);
                        transition-duration: .5s;
                        .myBarLabel{
                            margin-left: 5px;
                            line-height: 20px;
                            color: rgb(241, 241, 241);
                        }
                    }
                }
                
            }
            .dashboardRightBotRight{
                // border: 1px solid blue;
                width: 500px;
                display: inline-block;
                margin-top: 25px;
                margin-left: 20px;
                vertical-align: top;
                .dashboardRightBotRightTitle{
                    font-weight: 600;
                    font-size: 20px;
                    margin-bottom: 10px;      
                }
                .dashboardRightBotRightHot{
                    // border: 1px solid red;
                    border-bottom: 1px solid rgb(200,200,200);
                    height: 40px;
                    margin-top: 5px;
                    .dashboardRightBotRightHotImg{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        display: inline-block;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .dashboardRightBotRightHotComment{
                        // border: 1px solid red;
                        display: inline-block;
                        margin-left: 5px;
                        transform: translateY(-13px);
                    }
                } 
                .dashboardRightBotRightBtn{
                    width: 80px;
                    height: 33px;
                    color: rgb(19, 64, 153);
                    background-color: white;
                    border: 1px solid rgb(19, 64, 153);
                    border-radius: 5px;
                    margin-top: 10px;
                    float: right;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(238, 238, 238);
                        transition-duration: .5s;
                    }
                }
            }
            hr{
                width: 95%;
                margin-top: 20px;
            }
            .dashboardRightBotAllComment{
                // border: 1px solid green;
                width: 95%;
                margin: 0 auto;
                position: relative;
                .dashboardRightBotAllCommentTitle{
                    font-weight: 600;
                    font-size: 20px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                .dashboardRightBotAllCommentSelect{
                    padding: 4px 8px;
                    outline: none;
                    color: #333333;
                    background-color: #eeeeee;
                    border: 1px solid #dddddd;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 0;

                    // 去除預設下拉箭頭
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
                    background-position: right 10px top 50%;
                    background-repeat: no-repeat;
                    background-size: 10px;
                    &:focus, &:hover{
                        border: 1px solid #bbbbbb;
                    }
                    option{
                        background: #ffffff;
                    }
                }
                .commentItem{
                    // border:  1px solid red;
                    width: 100%;
                    height: 90px;
                    background-color: rgb(240, 240, 240);
                    padding: 5px;
                    box-sizing: border-box;
                    position: relative;
                    margin-bottom: 20px;
                    .commentItemPersonInfo{
                        // border:  1px solid red;
                        display: inline-block;
                        width: 70px;
                        text-align: center;
                        margin-left: 10px;
                        .commentItemPersonPhoto{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-bottom: 5px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .commentItemPersonName{
                            // border:  1px solid red;
                            font-weight: 600;
                            width: 60px;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                    .commentItemInside{
                        // border:  1px solid blue;
                        width: 105px;
                        display: inline-block;
                        font-size: 14px;
                        .commentItemInsideStatus{
                            color: gray;
                            margin-bottom: 10px;
                            img{
                                margin-left: 3px;
                                width: 15px;
                                transform: translateY(2px);
                            }
                        }
                        .commentItemInsideFlag{
                            width: 30px;
                            margin-bottom: 5px;
                        }
                        .commentItemInsideCountry{
                            display: inline-block;
                            color: gray;
                        }
                    }
                    .commentItemMessageComment{
                        border:  1px solid rgb(230, 230, 230);
                        padding: 5px 10px;
                        box-sizing: border-box;   
                        background-color: white;    
                        display: inline-block;
                        width: 500px;
                        // height: 60px;
                        position: absolute;
                        right: 120px;
                        // top: 17px;
                        top: 30px;
                        letter-spacing: .5px;
                        line-height: 20px;
                        overflow: hidden;
                    }
                    .commentItemMessageTime{
                        display: inline-block;
                        font-size: 14px;
                        color: gray;
                        position: absolute;
                        right: 20px;
                        top: 68px;
                    }
                }                  
            }
        }
    }  
}

//付款燈箱
.payBill.open{
    display: block;
}
.payBill{
    animation: fadeEffect .5s;
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 1001;
    .payBillLightbox{
        // border: 1px solid red;
        width: 700px;
        height: 500px;       
        background-color: white;
        padding: 30px 50px;
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        margin-top: 10vh;
        .payBillLightboxTitle{
            // border: 1px solid red;
            text-align: center;
            .payBillLightboxTitle1, .payBillLightboxTitle2, .payBillLightboxTitle3{
                display: inline-block;
                margin: 0 5px;
                line-height: 30px;
                color: rgb(200, 200, 200);
            }
        }
        form{
            .wayToPayBill{
                border: 1px solid rgb(200,200,200);
                background-color: rgb(240, 240, 240);
                width: 290px;
                height: 370px;
                margin-top: 20px;
                box-sizing: border-box;
                padding: 20px;
                display: inline-block;
                .wayToPayBillTitle{
                    font-size: 18px;
                    font-weight: 600;
                }
                .wayToPayBillSubtitle{
                    margin-top: 20px;
                }
                img{
                    width: 120px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                input[type=text]{
                    width: 100px;
                    margin-bottom: 15px;
                    padding: 4px 8px;
                    outline: none;
                    color: #333333;
                    background-color: white;
                    border: 1px solid #dddddd;
                    &:focus, &:hover{
                        border: 1px solid #bbbbbb;
                    }
                }
                label{
                    font-size: 14px;
                    input{
                        margin-right: 5px;
                    }
                }
            }
            .detailForPayBill{
                border: 1px solid rgb(200,200,200);
                background-color: rgb(240, 240, 240);
                width: 290px;
                height: 370px;
                margin-top: 20px;
                margin-left: 12px;
                box-sizing: border-box;
                padding: 20px;
                display: inline-block;
                vertical-align: top;
                .detailForPayBillTitle{
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                }
                .detailForPayBillType{
                    font-weight: 600;
                    margin-top: 10px;
                    display: inline-block;
                }
                .detailForPayBillPrice{
                    display: inline-block;
                    float: right;
                    margin-top: 10px;
                }
                .detailForPayBillFinishDay{
                    font-size: 12px;
                    color: gray;
                    text-align: right;
                    margin-top: 5px;
                }
                .detailForPayBillItems{
                    margin-top: 20px;
                    .detailForPayBillItem{
                        margin-bottom: 10px;
                        img{
                            width: 20px;
                            margin: 0 5px;
                        }
                    }
                }
                input[type=text]{
                    width: 100px;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    padding: 4px 8px;
                    outline: none;
                    color: #333333;
                    background-color: white;
                    border: 1px solid #dddddd;
                    &:focus, &:hover{
                        border: 1px solid #bbbbbb;
                    }
                }
                .totalPrice{
                    font-weight: 600;
                    display: inline-block;
                }
                .totalMoney{
                    font-weight: 600;
                    display: inline-block;
                    float: right;
                }
                .detailForPayBillBtn{
                    margin-top: 40px;
                    text-align: center;
                    .detailForPayBillBtnChecked{
                        width: 80px;
                        height: 33px;
                        color: white;
                        background-color: rgb(19, 64, 153);
                        border: 1px solid rgb(19, 64, 153);
                        border-radius: 5px;
                        margin-right: 10px;
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(54, 54, 199);
                            transition-duration: .5s;
                        }
                    }
                    .detailForPayBillBtnCancel{
                        width: 80px;
                        height: 33px;
                        color: rgb(19, 64, 153);
                        background-color: white;
                        border: 1px solid rgb(19, 64, 153);
                        border-radius: 5px;
                        margin-left: 10px;
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(238, 238, 238);
                            transition-duration: .5s;
                        }
                    }
                }
            }
        }
    }
}