.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 1000;
    .navUl{
        box-shadow: 1px 1px 2px 2px lightgray;
        .navIcon{
            display: inline-block;
            img{
                // border: 1px solid red;
                width: 45px;
                margin-left: 25px;
                margin-top: 3px;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .navLi1{
            display: inline-block;
            font-size: 14px;
            padding: 18px;
            float: right;
            &:hover{
                background-color: rgb(230, 230, 230);
                cursor: pointer;
                transition-duration: .5s;
            }
        }
        .navLi2{
            display: inline-block;
            font-size: 14px;
            padding: 18px 20px;
            float: right;
            &:hover{
                background-color: rgb(230, 230, 230);
                cursor: pointer;
                transition-duration: .5s;
            }
        }
        .navLi3{
            display: inline-block;
            font-size: 14px;
            padding: 18px 24px;
            // background-color: rgb(248, 189, 26);
            background-color: rgb(252,187,72);
            color: white;
            float: right;
            &:hover{
                background-color: rgb(255, 205, 68);
                cursor: pointer;
                transition-duration: .5s;
            }
        }
        .navLi4{
            float: right;
            display: inline-block;
            padding: 16px;
            padding-left: 20px;
            margin-right: 4px;
        }
    }
}