.providerEditor{
    // border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    .providerEditorTitle{
        color: rgb(19, 64, 153);
        font-size: 25px;
    }
    .providerEditorLeft{
        // border: 1px solid red;
        width: 85px;
        text-align: center;
        display: inline-block;
        margin-top: 15px;
        img{
            height: 35px;
            margin-top: 10px;
        }
        .iconName{
            color: gray;
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        .providerEditorLeftTop, .providerEditorLeftBot{
            margin-top: 30px;
            border: 1px solid lightgray;
        }
    } 
    .providerEditorRight{
        display: inline-block;
        width: 1080px;
        margin-left: 20px;
        vertical-align: top;
        // border: 1px solid red;
        .providerEditorRightBtns{
            text-align: right;
            .providerEditorRightBtn{
                width: 80px;
                height: 33px;
                color: rgb(19, 64, 153);
                background-color: white;
                border: 1px solid rgb(19, 64, 153); 
                margin: 0 8px;             
                &:hover{
                    cursor: pointer;
                    background-color: rgb(238, 238, 238);
                    transition-duration: .5s;
                }
            }
        } 
        .allCases{
            margin-top: 10px;
            border: 1px solid rgb(245, 245, 245);
            background-color: rgb(250, 250, 250);
            .allCasesItem{
                margin: 0 10px;
                margin-top: 25px;
                display: inline-block;
                img{
                    width: 16px;
                    transform: translateY(2px);
                    margin-left: 5px;
                }
            }
            .complete{
                color: rgb(216,35,35);
            }
            .active{
                color: rgb(22,183,109);
            }
            .pendingPayment{
                color: rgb(221,172,64);
            }
            .search{
                // border: 1px solid green;
                height: 70px;
                width: 280px;
                display: inline-block;
                background-color: rgb(250, 250, 250);
                border-radius: 5px;
                position: relative;
                margin-left: 185px;
                .searchInputIcon{
                    color: rgb(187, 187, 187);
                    position: absolute;
                    top: 26px;
                    left: 6px;
                }
                .searchInput{
                    border: 1px solid rgb(187, 187, 187);
                    width: 150px;
                    padding: 5px;
                    padding-left: 27px;
                    margin-top: 20px;
                    border-radius: 5px;
                    outline: none;
                }
                .searchBtn{
                    width: 80px;
                    height: 30px;
                    color: white;
                    background-color: rgb(19, 64, 153);
                    border: 1px solid white;
                    border-radius: 5px;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(54, 54, 199);
                        transition-duration: .5s;
                    }
                }
            }
        }
        .title{
            margin: 20px 10px;
            font-weight: 600;
            font-size: 20px;
            color: rgb(19, 64, 153);
        }
        .editBoard{
            cursor: text;
            .suggestBtn{
                margin-bottom: 10px;
                margin-right: 10px;
                padding: 3px 8px;
                font-size: 12px;
                outline: none;
                cursor: pointer;
                color: rgb(19, 64, 153);
                background-color: white;
                border: 1px solid rgb(19, 64, 153);
            }
            border: 1px solid lightgray;
            display: inline-block;
            border: 1px solid rgb(245, 245, 245);
            background-color: rgb(250, 250, 250);
            padding: 15px;
            width: 1050px;
            height: 600px;
            margin-bottom: 50px;
            .textareaTitle{
                font-size: 30px;
                font-weight: 600px;
                margin-bottom: 10px;
            }
            .tags{
                cursor: text;  
                // color:#003366;
                width: 1040px;
                line-height: 25px;
                padding: 3px;
                height: 25px;  
                *overflow-y: hidden;
                border: 1px solid rgb(250, 250, 250);
                background-color: rgb(250, 250, 250);
                outline: none;
                resize: none;
            } 
        }
    }
}